.changepassword-outer {
    background: linear-gradient(to top right, #ff9900 0%, #ffcc00 100%);
    display: flex;
    height: 100vh;
}

.changepassword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.changepassword-container h1 {
    color: white;
}

.changepassword-container form {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.125);
}

.changepassword-container form input {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.211);
    border: none;
}

.changepassword-container form div {
    flex-direction: column;
    display: flex;
}

.changepassword-container label {
    color: white;
    font-size: 18px;
    padding-top: 10px;
}

.changepassword-container form input:focus {
    outline: none;
    border: 2px solid white;
}

.changepassword-container form button {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid white;
}

.changepassword-container form button:hover {
    background-color: rgba(255, 255, 255);
    color: black;
    transition: all 2s;
}