.dashboard-outer {
    display: flex;
    background-color: rgb(202, 255, 255);
}

.dash-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.phead {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    font-size: 40px;
    margin: 5px;
    font-weight: 500;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.phead button {
    margin: 0px 15px;
}

@media (max-width:800px) {
    .phead {
        font-size: 30px;
    }
}

@media (max-width:410px) {
    .phead {
        font-size: 20px;
    }
}

.stats1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
}

.statsbox {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.stats1 .bg1 {
    background: linear-gradient(to top right, #6600cc 23%, #0099ff 100%);
}

.stats1 .bg2 {
    background: linear-gradient(to top right, #ff5050 23%, #ff9933 100%);
}

.stats1 .bg3 {
    background: linear-gradient(to top right, #00ffff 23%, #66ff66 100%);
}

.statsbox p {
    font-size: 25px;
    font-weight: 700;
}

.day-month-year-all {
    display: flex;
}

.day-month-year-all p {
    background-color: rgb(186, 186, 186);
    color: black;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.day-month-year-all .active {
    background-color: white;
}

.day-month-year-all p:hover {
    cursor: pointer;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px 1px white;
}


.stats2 {
    margin: 5px 2px;
}