.card3 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    justify-content: left;
    width: 300px;
    height: 350px;
    box-shadow: 0px 0px 20px 1px rgb(216, 216, 216);
    margin: 20px;
}

.card3 .img-cont {
    width: 300px;
    height: 169px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.card3 .img-cont img {
    height: 100%;
}

.card3 .details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 20px;
}


.card3 .head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
}

.card3 h1 {
    font-size: 25px;
    /* background-color: aqua; */
    padding: 0px;
    text-align: center;
}

.card3 .details h2 {
    font-size: 15px;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

.head {
    display: flex;
}

.card3 button {
    background-color: white;
    border-radius: 20px;

    width: 250px;
    position: relative;
    bottom: 3px;
}

.card3 button:hover {
    color: orange;
    border: 2px solid orange;
}